body{
    display: flexbox;
    justify-content: center;
    align-content: center;
    background-color: #1B1B32;
    height: 100vh;
}

.contenedor{
    display: flex;
    justify-content: center;
    width: max-content;
    height: fit-content;
    border-radius: 5px;
    margin-top: 15%;
    
}

.contenedor:hover{
    box-shadow: 5px 2px 10px 1px rgba(110, 110, 111, 0.637);
    transition: 0.5s 

}
.input{
    margin-top: 20px;
}
/* .container{
    box-shadow: 20px 20ox 5px;
} */

.lista {
    display: flex;
    justify-content: space-between;    
    /* width: 650px; */
}

.no-hay-tareas{
    color: rgba(255, 0, 0, 0.847);
}


.task-delete:hover{
    transition: 0.5s;
    color: rgba(91, 255, 3, 0.822);
    transform: scale(2.5);

}